@{
    var returnUrl = ViewData["ReturnUrl"] as string;
    var error = TempData["Error"] as string;
}

<style>
    #login-box {
        border: solid 1px black;
        justify-content: center;
        width: max-content;
        text-align: center;
        position: absolute;
        top: 20%;
        left: 30%;
        padding: 2em;
        border-radius: 15px;
    }

    #login-box input {
        margin: .5em 0;
        text-align: center;
    }
</style>

@if (!string.IsNullOrEmpty(error))
{
    <h3 class="alert-danger" style="padding: .5em; text-align: center;">@error</h3>
}
<div id="login-box" class="row shadow-lg">

    <form action="/login?ReturnUrl=@System.Net.WebUtility.UrlEncode(returnUrl)" method="post" class="row">
        <input type="text" name="username" class="col-12" placeholder="user" />
        <input type="password" name="password" class="col-12" placeholder="password" />
        <input type="submit" value="Login" class="col-12 btn btn-light shadow" />
    </form>

</div>
